<!doctype html>
<html lang="en" ng-app="urlsh">
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Loogi.ca - Url Shortener</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="humans.txt">
  <link rel="shortcut icon" href="http://loogica.net/videos/theme/img/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
      body { padding-top: 45px; }
    </style>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/ZeroClipboard.min.js"></script>
</head>

<body>
  {% block main %}
  {% endblock %}

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42971581-1', 'loogi.ca');
  ga('send', 'pageview');
  </script>
  </body>
</html>
