{% extends "base.html" %}
{% block main %}
{% raw %}
  <div class="container-narrow">
    <div class="col-lg-12">
      <div class="bs-masthead" ng-controller="UrlshController">
      <h1>loogi.ca</h1>
      <p class="lead">Free, tiny, simple and easy deployable url shortener</p>
      <p><input type="url" ng-model="event.url" class="form-control input-large" name="url" placeholder="url here" required></p>
      <p><a href="#" ng-click="save(event)" class="btn btn-bs btn-large">short</a></p>
      <p class="lead link-container" style="display:none;">
      <a id="link" href="#copy" data-clipboard-text="http://loogi.ca/{{ saved_shortned }}">http://loogi.ca/{{ saved_shortned }} ({{ info }})</a></p>
    </div>
    </div>
  </div>
{% endraw %}
{% endblock %}
